html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/login/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

:root {
    --active-text-color: #c3c6c9;
    --inactive-text-color: #e5e7e9;
    --checkbox-custom-background: #1F2126;
    --checkbox-custom-border: #4A4E69;
    --checkbox-checked: #4E6A40;
}

@font-face {
    font-family: 'whitney-medium';
    src: url('/login/font/whitney-medium.ttf') format('truetype');
}

* {
    font-family: whitney medium;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

#server-list {
    width: 56px;
    background-color: #1D1F23;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#server-list > div > label {
    text-align: center;
    white-space: normal;
}

#server-list > div > img {
    border-radius: 50%;
    display: block;
}
#server-list > div > img[onerror] {
    display: none;
}

#server-list > div {
    color: white;
    padding: 15px;
    padding-bottom: 0 !important;
}

.server {
    text-align: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #2E3136;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

#tab-list {
    width: 250px;
    background-color: #1F2126;
    height: 100%;
    overflow-y: auto;
}

#content {
    flex-grow: 1;
    padding: 20px;
}

#tab-list-header > h1 {
    color: var(--active-text-color);
    font-size: 14px;
    text-align: center;
}

#tab-list > div:first-child {
    margin-top: 30px;
    text-align: center;
    border-radius: 50%;
}

#tab-list > div:not(:first-child) {
    color: var(--inactive-text-color);
    font-size: 14px;
    margin-left: 25px;
}

hr {
    border: 1px solid #2E3136;
}

h1:not(:nth-child(2)) {
    color: white;
    margin: 0;
    margin-left: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px; /* Add space below each checkbox */
}

.checkbox-input {
    display: none;
}

.checkbox-custom {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 4.5px;
    background-color: var(--checkbox-custom-background);
    border: 1px solid var(--checkbox-custom-border);
    position: relative;
    margin-right: 5px; /* Adds some space between the checkbox and the text*/
}

.checkbox-input:checked + .checkbox-custom::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 3px;
    width: 8px;
    height: 4px;
    background-color: transparent;
    border: solid var(--checkbox-checked);
    border-width: 0 0 3px 4px;
    transform: rotate(-60deg);
}

.checkbox-container span {
    color: var(--active-text-color);
}