html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/login/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}